body {
  background-color: #f0f0f0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 15px 5px;
}

h2 {
  font-size: 1em;
  color: #1e681b;
  display:block;
  padding: 10px 0;
  margin: 15px 0;
  border-bottom: 1px solid #eee;
}

#heading {
  position: relative;
  background-color: #3e8446;
  padding: 20px 40px;
  border-bottom: solid 10px #1e681b;
  margin: -20px -40px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  min-height: 30px;
}

#heading a {
  color: white;
  text-decoration: none;
}

#heading ul {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 0.4em;
  font-weight: normal;
  color: #eee;
  text-decoration: none;
  list-style: none;
  display: inline;
}

#heading ul li {
  float: left;
  margin-right: 10px;
}

#heading ul li a {
  color: #093301;
  text-decoration: none;
}

#heading ul li a:hover {
  text-decoration: underline;
}

#flash_notice, #flash_error, #flash_success {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, #flash_success {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
  
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

ul#states {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

ul#states li {
  position: relative;
  padding: 10px;
  border: 1px solid #c9c9c9;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

ul#states li span.title {
  color: #333;
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

ul#states li span.status {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 0.8em;
  color: red;
}

ul#states li span.content {
  font-size: 0.9em;
}	
	
ul#states li span.date {
  font-weight: bold;
  font-size: 0.8em;
  display: block;
  color: #ccc;
  padding-top: 10px;
}

ul#states li span.loggedinlinks {
  font-size: 0.7em;
  display: block;
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 5px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

a.newstatusupdate {
  line-height: 40px;
  background-color: #1e681b;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
}

a.newstatusupdate:hover {
  text-decoration: underline;
}

form label {
  display: block;
  padding: 5px 0;
  font-size: small;
}

form input {
  display: block;
  padding: 5px;
  min-width: 300px;
  font-size: 1.2em;
  font-weight: bold;
}

form input#session_submit, form input#user_submit, form input#password_submit {
  margin-top: 10px;	
}

div.copyright {
  font-size: smaller;
  width: 75%;
  margin: 15px auto;
  color: #333;
}
